### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

/.classpath
*/.classpath
/.project
*/.project
/.settings
*/.settings
/*.iml
*/*.iml
/.idea
*/.idea
*/target
.DS_Store
*/.DS_Store
